.receipt-container {
  width: 100%;
  padding: 1rem 0;
  border: solid gray 1px;
  background-color: #242424;
}

.receipt {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
}

.receipt h2 {
  text-align: center;
}

.receipt .total {
  display: flex;
  gap: 8rem;
}