.product-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  border: solid gray 1px;
  background-color: #242424;
}

.product img {
  width: 22vw;
  object-fit: contain;
}

.product .input-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.product .input-container input {
  text-align: center;
}

.sell-btn {
  background-color: rgba(255, 0, 0, 0.5);
}

.buy-btn {
  background-color: rgba(0, 128, 0, 0.5);
}