:root {
    --stellar-gold: rgb(185, 140, 91);
    --supernova-blue: rgb(61, 75, 89);
}


.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}

.wittgenstein {
    font-family: "Wittgenstein", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: small;
}

body, a {
    background-color: var(--supernova-blue);
    color: var(--stellar-gold);
}

ul > li {
	margin: 0;
	padding: 36px 0 36px 30px;
	list-style: none;
	background-image: url('assets/spaceship_and_sun_emblem.svg');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 24px;
}

a {
    margin-top: 5%;
}

h1, h2 {
    color: silver;
}

article {
    border: 1px solid gray;
    border-radius: 10%;
    margin: auto;
    width: 80%;
    padding: 5%;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

li {
    text-align: left;
    line-height: 1.5;
}

.img-throne {
    height: 400px; 
    width: 300px;
}

.img-sun {
    height: 36px;
    width: 36px;
}

footer {
    background-color: #C0C0C0;
    color: #333;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

footer p {
    margin: 0;
}